<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.bitelchux.horoscope"
	version		= "1.0.0">

	<name>Daily horoscope</name>

	<description>
    Daily horoscope
  </description>

	<author href="http://bitelchux.com">
		bitelchux
	</author>

	<icon src="icon.png" gap:role="default" />

	
	<feature name="http://api.phonegap.com/1.0/network"/>

</widget>