<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.bitelchux.DailyhoroscopeSummary"
        version   = "2.0.0">
    <name>Daily horoscope Summary</name>

    <description>
      Daily horoscope Summary
    </description>

    <author href="http://bitelchux.com" email="bitelchux@gmail.com">
        bitelchux
    </author>
  <icon src="icon.png" />
  <gap:splash src="splash.png" />
  <access origin="*" />
  <preference name="show-splash-screen-spinner" value="true" />
  <preference name="stay-in-webview" value="true" />
  <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

    <icon src="icon.png" />
</widget>
